# Global
.env
*.log

# Node
node_modules/
backend/node_modules/
frontend/node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/
python_service/.venv/
python_service/venv/

# C++
cpp_engine/build/
cpp_engine/*.o
cpp_engine/*.obj
cpp_engine/engine
cpp_engine/engine.exe

# Generated artifacts
backend/output/*
!backend/output/.gitkeep
python_service/artifacts/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
